<template>
  <section class="tracker-section">
    <MililiterInput id="add-water" v-model="waterAddition" @enter="addWater">
      <!--suppress XmlInvalidId -->
      <label for="add-water">How much water did you drink?</label>
    </MililiterInput>
    <NuxtLink to="/" class="add-link">
      <button class="button" @click="addWater">Add</button>
    </NuxtLink>
  </section>
</template>

<script>
export default {
  data() {
    return {
      waterAddition: 0
    }
  },
  methods: {
    async addWater() {
      await this.$router.push('/')
      await this.$axios.post('api/consumption', { amount: Number(this.waterAddition) })
      await this.$store.dispatch('fetchAllData', false)
    }
  }
}
</script>

<style scoped lang="scss">
.tracker-section {
  height: 620px;
  margin-bottom: 150px;
  padding-top: 170px;

  label {
    padding-bottom: 50px;
    font-size: 1.7rem;
    display: block;
    max-width: 400px;
    text-shadow: 0 3px 7px #333;
  }
}

button {
  margin-top: 1em;
}
</style>
