<template>
  <section id="tracker-section" class="tracker-section">
    <div class="tracker">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="350" viewBox="0 0 327.76 293.61">
        <defs>
          <clipPath id="tracker-clip-path">
            <rect class="cls-1" x="-11.9" y="-43.14" width="176" height="440"/>
          </clipPath>
          <clipPath id="tracker-clip-path-2">
            <rect class="cls-1" x="164.1" y="-43.14" width="176" height="440"/>
          </clipPath>
        </defs>
        <circle id="tracker-filler" r="153" :style="{ '--dashoffset-target': `${dashOffset ? dashOffset:dashOffsetEmpty}`}"/>
        <g id="Group_39" data-name="Group 39">
          <g id="Group_2" data-name="Group 2">
            <g class="cls-2">
              <g id="Mask_Group_1" data-name="Mask Group 1">
                <g id="Path_11-2" data-name="Path 11-2">
                  <path
                    class="cls-1"
                    d="M163.88,0A163.92,163.92,0,0,0,0,163.92c.76,46.58,20.7,91.31,53.84,121.46,1.27,1.16,12.6,14.05,21.1,5.11s-2.7-17.78-5.59-20.11c-29.49-27-38.59-55.27-38.59-55.27s-14.13-29.5-7.17-76.27C33,78.42,90.17,21.18,163.88,21,357,25.18,247,310.86,276.43,283.1A163.92,163.92,0,0,0,163.88,0Z"
                  />
                  <path
                    class="cls-3"
                    d="M163.88,3a162,162,0,0,0-32.43,3.27A159.91,159.91,0,0,0,73.91,30.48,161.69,161.69,0,0,0,30.44,74,160.32,160.32,0,0,0,3,163.9a169.14,169.14,0,0,0,14.52,65.7A164.72,164.72,0,0,0,34,258.49a155.93,155.93,0,0,0,21.87,24.67l.58.57A35.69,35.69,0,0,0,61.3,288c2.53,1.76,4.81,2.66,6.77,2.66a6.22,6.22,0,0,0,4.65-2.21,6.91,6.91,0,0,0,2.29-5.3c-.3-4.52-5.7-8.88-7.48-10.31l-.18-.15-.07-.07A161.4,161.4,0,0,1,36.35,234.1a108.33,108.33,0,0,1-8.42-17.88c-.59-1.27-3.84-8.67-6.35-21.11a165.6,165.6,0,0,1-1-56.71v0C29.81,79.35,85.93,18.19,163.88,18H164c39,.84,69,13.23,89.11,36.84,19.12,22.44,29.63,55.55,31.24,98.43,1.35,35.88-3.53,71.13-7.1,96.88-1.24,9-2.31,16.71-2.83,22.52a63.52,63.52,0,0,0-.31,7c0,.56.05,1,.09,1.4l.22-.21A160.86,160.86,0,0,0,163.88,3m0-3A163.92,163.92,0,0,1,276.43,283.1c-1.36,1.29-2.43,1.9-3.24,1.9C256.55,285,348,25,163.88,21,90.17,21.18,33,78.42,23.55,138.84c-7,46.77,7.17,76.27,7.17,76.27s9.09,28.24,38.59,55.27c2.89,2.33,14.09,11.17,5.59,20.11s-19.83-4-21.1-5.11C20.66,255.23.71,210.5,0,163.92A163.92,163.92,0,0,1,163.88,0Z"
                  />
                </g>
                <rect
                  id="Rectangle_4"
                  data-name="Rectangle 4"
                  class="cls-1"
                  x="-11.9"
                  y="-43.14"
                  width="176"
                  height="440"
                />
              </g>
            </g>
            <g class="cls-4">
              <g id="Mask_Group_2" data-name="Mask Group 2">
                <g id="Path_12-2" data-name="Path 12-2">
                  <path
                    class="cls-1"
                    d="M163.88,0A163.92,163.92,0,0,1,327.81,163.92c-.76,46.59-20.7,91.31-53.84,121.46-1.27,1.16-12.6,14.05-21.1,5.11s2.7-17.78,5.59-20.11c29.49-27,38.59-55.27,38.59-55.27s14.13-29.5,7.17-76.27C294.78,78.42,237.6,21.18,163.88,21-29.19,25.18,80.76,310.86,51.34,283.1A163.92,163.92,0,0,1,163.88,0Z"
                  />
                  <path
                    class="cls-3"
                    d="M163.88,3a162,162,0,0,0-32.43,3.27A159.91,159.91,0,0,0,73.91,30.48,161.69,161.69,0,0,0,30.44,74a160.83,160.83,0,0,0,23,207l.22.21c0-.38.07-.84.09-1.4a61.54,61.54,0,0,0-.32-7c-.51-5.81-1.58-13.55-2.83-22.52-3.56-25.75-8.45-61-7.1-96.88,1.62-42.88,12.13-76,31.25-98.43,20.12-23.61,50.1-36,89.11-36.84h.07c78,.16,134.07,61.32,143.29,120.35v0a165.55,165.55,0,0,1-1,56.71c-2.5,12.44-5.76,19.84-6.34,21.11a108.33,108.33,0,0,1-8.42,17.88,161.66,161.66,0,0,1-30.93,38.49l-.07.07-.18.14c-1.78,1.44-7.19,5.8-7.49,10.32a6.94,6.94,0,0,0,2.29,5.3,6.24,6.24,0,0,0,4.65,2.21c2,0,4.25-.9,6.78-2.66a36.32,36.32,0,0,0,4.9-4.24c.25-.26.42-.43.58-.57a156.43,156.43,0,0,0,21.87-24.67,165.36,165.36,0,0,0,16.47-28.89,169.14,169.14,0,0,0,14.52-65.7,163.31,163.31,0,0,0-3.27-32.41A160.83,160.83,0,0,0,196.32,6.27,162.13,162.13,0,0,0,163.88,3m0-3A163.92,163.92,0,0,1,327.81,163.92c-.76,46.58-20.7,91.31-53.84,121.46-1.27,1.15-12.6,14.05-21.1,5.11s2.7-17.78,5.59-20.11c29.49-27,38.59-55.27,38.59-55.27s14.13-29.5,7.17-76.27C294.78,78.42,237.6,21.18,163.88,21-20.25,25,71.22,285,54.57,285c-.8,0-1.87-.61-3.23-1.9A163.92,163.92,0,0,1,163.88,0Z"
                  />
                </g>
                <rect
                  id="Rectangle_5"
                  data-name="Rectangle 5"
                  class="cls-1"
                  x="164.1"
                  y="-43.14"
                  width="176"
                  height="440"
                />
              </g>
            </g>
          </g>
        </g>
      </svg>
      <MililiterInput id="goal" v-model="goal">
        <!--suppress XmlInvalidId -->
        <label v-if="fillPercentage < 100" for="goal">You're <span>{{ fillPercentage }}%</span> on the way to your goal</label>
        <!--suppress XmlInvalidId -->
        <label v-if="fillPercentage === 100" for="goal">you have <span>reached</span> your goal of</label>
      </MililiterInput>
      <NuxtLink to="/add-water">
        <button>
          <svg
            id="add-icon"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="75px"
            height="75px"
            viewBox="0 0 45.402 45.402"
            xml:space="preserve"
          >
            <g>
              <path
                d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
                    c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
                    c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
                    c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"
              />
            </g>
          </svg>
        </button>
      </NuxtLink>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      dashOffsetFull: 210,
      dashOffsetEmpty: 961,
    }
  },
  computed: {
    fillPercentage() {
      return this.$store.getters.trackerFillPercentage
    },
    goal: {
      get() {
          return this.$store.getters.goal
      },
      async set(value) {
        if (!value) {
            return
        }
        await this.$axios.post('/api/goal', { amount: Number(value) })
        await this.$store.dispatch('fetchAllData', false)
      }
    },
    dashOffset() {
      return (this.dashOffsetEmpty - ((this.dashOffsetEmpty - this.dashOffsetFull) * this.fillPercentage / 100))
    }
  },
}
</script>

<style lang="scss">
.tracker-section {
  height: 620px;
  margin-bottom: 150px;
  padding-top: 170px;

  .button {
    width: 250px;
  }
}

.tracker {
  margin: 0 auto min(70px, calc((70 / 350) * 90vw)) auto;
  max-width: min(250px, calc((260 / 350) * 90vw));
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  label {
    text-shadow: 0 4px 7px #333;
    color: white;
    font-size: min(1.6rem, calc((32 / 350) * 90vw));
    line-height: 80%;

    span {
      font-size: min(2rem, calc((40 / 350) * 90vw));
      color: #004377;
      text-shadow: -1px 3px 4px #444;
    }
  }

  button {
    margin-top: 1.5em;
    padding: .8em;
    background-image: linear-gradient(240deg, white, #89ceff);
    border-radius: 50%;
    box-shadow: 0 3px 8px #666;
    color: #3783BB;

    svg#add-icon g {
      fill: #3783BB;
    }

  }

  svg#Layer_1 {
    width: min(350px, 90vw);
    height: auto;
    position: absolute;
    top: max(-100px, calc((-85 / 350) * 90vw));
    z-index: -10;

    #tracker-filler {
      --dashoffset-empty: 961;
      --dashoffset-full: 210;
      cx: 164px;
      cy: 164px;
      fill: none;
      stroke: white;
      stroke-width: 19px;
      stroke-linecap: round;
      stroke-dasharray: var(--dashoffset-empty);
      stroke-dashoffset: var(--dashoffset-target);
      transform-origin: 164px 164px;
      transform: rotate(129.5deg);

      transition: all ease-in-out 2s;
    }
  }
}

svg#Layer_1 {
  .cls-1 {
    fill: none;
  }

  .cls-2 {
    clip-path: url(#tracker-clip-path);
  }

  .cls-3 {
    fill: #fff;
  }

  .cls-4 {
    clip-path: url(#tracker-clip-path-2);
  }
}
</style>
