<template>
  <div class="month">
    <ul class="weekdays">
      <li>M</li>
      <li>T</li>
      <li>W</li>
      <li>T</li>
      <li>F</li>
      <li><span>S</span></li>
      <li><span>S</span></li>
    </ul>
    <ul class="days">
      <li v-for="day in days" :key="day.datetime" :style="{backgroundColor: day.goalReached ? '#0E5798' : 'white', borderColor: day.goalReached ? '#0E5798' : 'white', visibility: day.intake>=0 ? 'visible' : 'hidden', background: new Date(day.datetime) <= new Date() ? 'solid': 'none', boxShadow: new Date(day.datetime) <= new Date() ? '0.2em 0.2em 0.45em gray' : '0.2em 0.2em 0.45em gray, inset 0.2em 0.2em 0.45em gray'}" />
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      days: [],
      daysShifted: [],
      reachedDays: 0
    }
  },
  async fetch() {
    const date = new Date()
    const calendarResponse = await this.$axios.get('/api/statistics/calendar', {
      params: {
        year: date.getFullYear(),
        month: date.getMonth() + 1
      }
    })
    this.days = calendarResponse.data
    this.reachedDays = this.days.filter(e => e.goal !== null && e.goalReached).length
    this.$store.commit('setDaysReached', this.reachedDays)
    const weekday = new Date(this.days[0].datetime).getDay()
    for (let j = 0; j < weekday - 1; j++) {
      this.days.unshift({ intake: '-1' })
    }
  },
  computed: {
    goal() {
      return this.$store.getters.goal
    },
    consumption() {
        return this.$store.getters.consumption
    },
  },
  watch: {
    goal() {
      this.$fetch()
    },
    consumption() {
      this.$fetch()
    },
  },
}
</script>

<style lang="scss" scoped>
ul {list-style-type: none;}
.month{
  margin-left: 3em;
  font-size: min(0.7rem, calc((16/550)*90vw));
  align-items: normal;
  text-align: left;
  width:13em;
}

.weekdays {
  margin: 0;
}

.weekdays li {
  display: inline-block;
  width: 0.84em;
  margin-left: 0.56em;
  color: white;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em #4f4f4f;
  span{
    color: #0E5798;
  }
}

/* Days (1-31) */
.days {
  margin-left: 0.25em;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width:2.8em;
  padding:1em;
  text-align: center;
  font-size:0.5em;
  color: #5a5e60;
  border-width: 0.35em;
  border-radius: 30%;
  margin: 0.3em 0.3em -0.3em;
}
</style>
