<template>
  <div>
    <slot />
    <div class="ml-input">
    <form @submit.prevent="updateValue" style="display: contents;">
            <input
                :id="id"
                type="text"
                size="2"
                minlength="1"
                maxlength="5"
                :value="value"
                name="amount"
                @focusout="updateValue"
            >
    </form>
      <span>ml</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="cls-1" width="19.445" height="19.445" viewBox="0 0 19.445 19.445">
        <g id="Group_1" data-name="Group 1" transform="translate(14.402) rotate(45)">
          <path id="Path_7" data-name="Path 7" d="M1.783,0H5.349A1.7,1.7,0,0,1,7.132,1.6V4.812H0V1.6A1.7,1.7,0,0,1,1.783,0Z" />
          <path id="Path_8" data-name="Path 8" d="M0,0H7.132V10.636L3.566,14.181,0,10.636Z" transform="translate(0 6.187)" />
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: String,
    className: String,
    value: Number,
  },
  methods: {
    updateValue(event) {
        if (event.target.value > 0 || (event.target.elements ? event.target.elements.amount.value : 0) > 0) {
            this.$emit('input', Number(event.target.value || event.target.elements.amount.value))
            this.$emit('enter')
        }
    }
  }
}
</script>

<style lang="scss">
.ml-input {
  margin-top: 0.4em;
  font-size: min(1.4rem, calc((28 / 350) * 90vw));
  border: 7px solid white;
  border-radius: 35px;
  box-shadow: 0 3px 5px #555 inset,
  0 3px 5px #555;
  padding: 0 .9em 0 .75em;
  color: #004377;

  // Magic input field resizing based on text length
  // Based off https://css-tricks.com/auto-growing-inputs-textareas/
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  &::after {
    content: attr(data-value) '   ';
    visibility: hidden;
    white-space: pre-wrap;
    grid-area: 1 / 1;
  }

  input {
    margin: 0;
    padding: 0 -1em 0 0.25em;
    background: transparent;
    color: #004377;
    width: auto;
    grid-area: 1 / 1;

    &::placeholder {
      color: #004377;
      opacity: 1;
    }
  }

  span {
    grid-area: 1 / 2;
    width:1em;
  }
  .cls-1 {
    float: right;
    fill: #fff;
    grid-area:1/3;
    width:auto;
    padding-top: .05em;
    padding-left: .75em;
    transform: scale(1.6);
  }
}

</style>
