<template>
  <div class="footer">
    <ul class="nav-menu" :class="{hidden: isHidden}">
      <li @click="isHidden = true">
        <NuxtLink to="/#tracker-section">
          Tracker
        </NuxtLink>
      </li>
      <li @click="isHidden = true">
        <NuxtLink to="/#statistics-section">
          Statistics
        </NuxtLink>
      </li>
      <li @click="isHidden = true">
        <NuxtLink to="/#settings-section">
          Settings
        </NuxtLink>
      </li>
    </ul>
    <nav class="navbar">
      <button class="hamburger-menu" @click="isHidden = !isHidden">
        <svg class="hamburger-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
          <defs>
            <style/>
            <clipPath id="burger-clip-path">
              <rect class="cls-1" width="26" height="26"/>
            </clipPath>
          </defs>
          <g id="Repeat_Grid_1" data-name="Repeat Grid 1" class="cls-2">
            <g transform="translate(-12 -13.5)">
              <path id="Path_1" data-name="Path 1" class="cls-3" d="M1.352,0H23" transform="translate(13 15.5)"/>
            </g>
            <g transform="translate(-12 -3.5)">
              <path id="Path_1-2" data-name="Path 1" class="cls-3" d="M1.352,0H23" transform="translate(13 15.5)"/>
            </g>
            <g transform="translate(-12 6.5)">
              <path id="Path_1-3" data-name="Path 1" class="cls-3" d="M1.352,0H23" transform="translate(13 15.5)"/>
            </g>
          </g>
        </svg>
      </button>
      <div class="nav-right">
        <button v-if="!$store.getters.spinner" @click="refresh">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="refresh-icon"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="55"
            height="44.808"
            viewBox="0 0 54.623 38.808"
          >
            <defs>
              <filter
                id="Subtraction_4_2"
                x="0"
                y="0"
                width="44.623"
                height="44.808"
                filterUnits="userSpaceOnUse"
              >
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g id="Group_31_2" data-name="Group 31" transform="translate(-111.41 -2642)">
              <g id="Group_13_2" data-name="Group 13" transform="translate(118.025 2648)">
                <g id="Group_12_2" data-name="Group 12" transform="translate(0 0)">
                  <g class="cls-7" transform="matrix(1, 0, 0, 1, -6.61, -6)">
                    <g id="Subtraction_4_2-2" data-name="Subtraction 4" class="cls-1" transform="translate(9 6)">
                      <path
                        class="cls-5"
                        d="M13.312,26.808A13.4,13.4,0,0,1,.594,17.654l2.336-.5a11.04,11.04,0,0,0,21.309-2.177h2.385A13.4,13.4,0,0,1,13.312,26.808ZM2.384,11.828H0A13.408,13.408,0,0,1,26.029,9.153l-2.336.5A11.04,11.04,0,0,0,2.384,11.827Z"
                      />
                      <path
                        class="cls-6"
                        d="M 13.3117151260376 26.80796432495117 C 10.45590496063232 26.80796432495117 7.728155136108398 25.92156410217285 5.42334508895874 24.24459457397461 C 3.148065090179443 22.5890941619873 1.478155136108398 20.3101749420166 0.5941551327705383 17.65421485900879 L 2.929675102233887 17.15780448913574 C 4.514835357666016 21.51497459411621 8.686685562133789 24.44210433959961 13.3117151260376 24.44210433959961 C 18.76958465576172 24.44210433959961 23.46704483032227 20.37460327148438 24.23840522766113 14.98075389862061 L 26.62343597412109 14.98075389862061 C 25.83289527893066 21.7237434387207 20.10976600646973 26.80796432495117 13.3117151260376 26.80796432495117 Z M 2.384315013885498 11.82792377471924 L 5.126037649461068e-06 11.82721424102783 C 0.7905351519584656 5.084224224090576 6.513665199279785 4.069824171892833e-06 13.3117151260376 4.069824171892833e-06 C 16.16666603088379 4.069824171892833e-06 18.89403533935547 0.886444091796875 21.19895553588867 2.563483953475952 C 23.47428512573242 4.218994140625 25.14446449279785 6.497673988342285 26.02894592285156 9.153183937072754 L 23.69323539733887 9.649833679199219 C 22.10848426818848 5.292444229125977 17.93683433532715 2.365154027938843 13.3117151260376 2.365154027938843 C 7.854104995727539 2.365154027938843 3.156335115432739 6.432963848114014 2.384315013885498 11.82721424102783 L 2.384315013885498 11.82792377471924 Z"
                      />
                    </g>
                  </g>
                  <path
                    id="Path_30_2"
                    data-name="Path 30"
                    class="cls-2"
                    d="M3.029,4.386,0,0"
                    transform="translate(1.714 7.138) rotate(23)"
                  />
                  <path
                    id="Path_29_2"
                    data-name="Path 29"
                    class="cls-2"
                    d="M0,4.673,2.61,0"
                    transform="translate(4.846 8.04) rotate(23)"
                  />
                  <path
                    id="Path_31_2"
                    data-name="Path 31"
                    class="cls-3"
                    d="M0,0,1.54,4.21"
                    transform="translate(28.435 13.861)"
                  />
                  <line
                    id="Line_6_2"
                    data-name="Line 6"
                    class="cls-3"
                    x1="3.696"
                    y2="2.875"
                    transform="translate(24.739 13.861)"
                  />
                </g>
                <ellipse
                  id="Ellipse_8_2"
                  data-name="Ellipse 8"
                  class="cls-4"
                  cx="1.213"
                  cy="1.11"
                  rx="1.213"
                  ry="1.11"
                  transform="translate(26.009 8.241)"
                />
                <ellipse
                  id="Ellipse_9_2"
                  data-name="Ellipse 9"
                  class="cls-4"
                  cx="1.213"
                  cy="1.11"
                  rx="1.213"
                  ry="1.11"
                  transform="translate(2.911 16.236)"
                />
                <circle
                  id="Ellipse_14_2"
                  data-name="Ellipse 14"
                  class="cls-4"
                  cx="0.411"
                  cy="0.411"
                  r="0.411"
                  transform="translate(27.511 14.374)"
                />
              </g>
            </g>
          </svg>
        </button>
        <div v-else class="lds-spinner">
          <div/>
          <div/>
          <div/>
          <div/>
          <div/>
          <div/>
          <div/>
          <div/>
          <div/>
          <div/>
          <div/>
          <div/>
        </div>
        <NuxtLink :to="{ path: '/', hash: '#top' }">
          <svg class="home-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 32.955">
            <path
              id="Path_2"
              data-name="Path 2"
              class="cls-1"
              d="M60,48h7V36H77.028L77,48h7V28.28L72,18.045,60,28.28Z"
              transform="translate(-58.5 -16.545)"
            />
          </svg>
        </NuxtLink>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isHidden: true,
    }
  },
  methods: {
    async refresh() {
      this.$store.commit('setSpinner', true)
      await this.$store.dispatch('fetchAllData')
      this.$store.commit('setSpinner', false)
    }
  }
}
</script>

<style lang="scss">
.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;

  .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003b70;

    .nav-right {
      display: flex;
      align-items: center;
    }
  }

  .nav-menu {
    position: fixed;
    z-index: -10;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14ch;
    padding: .5em 0;

    background-color: #003D6E;
    color: white;

    transition: all 0.25s ease-in-out;

    li {
      width: 80%;

      a {
        display: list-item;
        border-bottom: 1px solid white;
        margin-top: .5em;
        padding: .5em;
      }
    }
  }

  .nav-menu.hidden {
    transform: translateY(calc(100% + 50px));
    opacity: 0;
  }
}

.hamburger-icon {
  margin: .5rem;

  .cls-1 {
    fill: none;
  }

  .cls-2 {
    clip-path: url(#burger-clip-path);
  }

  .cls-3 {
    fill: #003b70;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
  }
}

.home-icon {
  margin: .5em;

  .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
  }
}

.refresh-icon {
  .cls-1, .cls-2, .cls-4 {
    fill: #fff;
  }

  .cls-2, .cls-3 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 3px;
  }

  .cls-3 {
    fill: none;
  }

  .cls-5, .cls-6 {
    stroke: none;
  }

  .cls-6 {
    fill: #fff;
  }

  .cls-7 {
    filter: url(#Subtraction_4_2);
  }
}

.lds-spinner {
  // https://loading.io/css/
  //color: official;
  --size: 35px;
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  margin-right: 15px;
}
.lds-spinner div {
  transform-origin: calc(0.5 * var(--size)) calc(0.5 * var(--size));
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: calc(0.05 * var(--size));
  left: calc(0.475 * var(--size));
  width: calc(0.075 * var(--size));
  height: calc(0.225 * var(--size));
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

</style>
