<template>
  <section id="settings-section" class="settings-section">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="avatar"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="159.5"
      height="147.477"
      viewBox="0 0 159.5 147.477"
    >
      <defs>
        <filter
          id="Path_15"
          x="0"
          y="0"
          width="159.5"
          height="147.477"
          filterUnits="userSpaceOnUse"
        >
          <feOffset dy="5" input="SourceAlpha" />
          <feGaussianBlur stdDeviation="5" result="blur" />
          <feFlood flood-opacity="0.6" />
          <feComposite operator="in" in2="blur" />
          <feComposite in="SourceGraphic" />
        </filter>
        <filter
          id="Ellipse_4"
          x="45.75"
          y="24"
          width="69"
          height="69"
          filterUnits="userSpaceOnUse"
        >
          <feOffset dy="3" input="SourceAlpha" />
          <feGaussianBlur stdDeviation="3" result="blur-2" />
          <feFlood flood-opacity="0.161" />
          <feComposite operator="in" in2="blur-2" />
          <feComposite in="SourceGraphic" />
        </filter>
      </defs>
      <g id="Group_38" data-name="Group 38" transform="translate(-118.375 -2424.523)">
        <g class="cls-7" transform="matrix(1, 0, 0, 1, 118.38, 2424.52)">
          <g id="Path_15-2" data-name="Path 15" class="cls-1" transform="translate(9 6)">
            <path
              class="cls-3"
              d="M70.75,0a70.755,70.755,0,0,1,40.738,128.6C100.1,136.682,125.06,86.14,70.75,86.14c-53.546,0-29.57,50.468-41.338,42.033A70.754,70.754,0,0,1,70.75,0Z"
            />
            <path
              class="cls-4"
              d="M 70.75 7 C 35.59812164306641 7 7 35.59812927246094 7 70.75000762939453 C 7 88.21232604980469 14.17922973632812 104.8271560668945 26.63986968994141 116.7747650146484 C 27.521728515625 103.1919555664062 32.59901428222656 79.14020538330078 70.75 79.14020538330078 C 85.98184967041016 79.14020538330078 97.47605133056641 82.91960144042969 104.9133453369141 90.37342834472656 C 112.9495697021484 98.427490234375 114.5518264770508 108.7513427734375 114.8620452880859 116.7383270263672 C 127.2954940795898 104.7524948120117 134.5 88.1541748046875 134.5 70.75000762939453 C 134.5 35.59812927246094 105.9018707275391 7 70.75 7 M 70.75 0 C 109.8241500854492 0 141.5 31.67585754394531 141.5 70.75000762939453 C 141.5 94.58523559570312 129.7134246826172 115.6675796508789 111.487548828125 128.6019287109375 C 100.1025238037109 136.6821136474609 125.0603485107422 86.14020538330078 70.75 86.14020538330078 C 17.20389556884766 86.14019775390625 41.18025970458984 136.6076507568359 29.41182708740234 128.1735382080078 C 11.67092895507812 115.4601287841797 0 94.46800231933594 0 70.75000762939453 C 0 31.67585754394531 31.67584991455078 0 70.75 0 Z"
            />
          </g>
        </g>
        <g class="cls-6" transform="matrix(1, 0, 0, 1, 118.38, 2424.52)">
          <g id="Ellipse_4-2" data-name="Ellipse 4" class="cls-2" transform="translate(54.75 30)">
            <circle class="cls-3" cx="25.5" cy="25.5" r="25.5" />
            <circle class="cls-5" cx="25.5" cy="25.5" r="23" />
          </g>
        </g>
      </g>
    </svg>
    <h2 class="John">{{ $auth.user.username }}</h2>
    <ul>
      <li>
        <svg
          class="padlock"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="55"
          height="51"
          viewBox="0 0 55 51"
        >
          <defs>
            <filter
              id="Path_16"
              x="3"
              y="0"
              width="38"
              height="49"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Subtraction_1"
              x="0"
              y="11"
              width="44"
              height="40"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur-2" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-2" />
              <feComposite in="SourceGraphic" />
            </filter>
          </defs>
          <g id="Group_11" data-name="Group 11" transform="translate(-145 -2819)">
            <g class="cls-6" transform="matrix(1, 0, 0, 1, 145, 2819)">
              <g id="Path_16-2" data-name="Path 16" class="cls-1" transform="translate(12 6)">
                <path class="cls-3" d="M8,0h4a8,8,0,0,1,8,8V23a8,8,0,0,1-8,8H8a8,8,0,0,1-8-8V8A8,8,0,0,1,8,0Z" />
                <path
                  class="cls-4"
                  d="M 8 3 C 5.242989540100098 3 3 5.242990493774414 3 8 L 3 23 C 3 25.75700950622559 5.242989540100098 28 8 28 L 12 28 C 14.75700950622559 28 17 25.75700950622559 17 23 L 17 8 C 17 5.242990493774414 14.75700950622559 3 12 3 L 8 3 M 8 0 L 12 0 C 16.41827964782715 0 20 3.581720352172852 20 8 L 20 23 C 20 27.41827964782715 16.41827964782715 31 12 31 L 8 31 C 3.581720352172852 31 0 27.41827964782715 0 23 L 0 8 C 0 3.581720352172852 3.581720352172852 0 8 0 Z"
                />
              </g>
            </g>
            <g class="cls-5" transform="matrix(1, 0, 0, 1, 145, 2819)">
              <path
                id="Subtraction_1-2"
                data-name="Subtraction 1"
                class="cls-2"
                d="M-7,863H-17a8.009,8.009,0,0,1-8-8v-6a8.009,8.009,0,0,1,8-8H-7a8.009,8.009,0,0,1,8,8v6A8.009,8.009,0,0,1-7,863Zm-4.5-19.462c-2.481,0-4.5,1.708-4.5,3.808a3.91,3.91,0,0,0,2.932,3.57l-1.583,5.74a.993.993,0,0,0,.169.872.992.992,0,0,0,.8.394h4.374a.992.992,0,0,0,.8-.394.993.993,0,0,0,.169-.872l-1.583-5.74A3.909,3.909,0,0,0-7,847.346C-7,845.247-9.019,843.539-11.5,843.539Z"
                transform="translate(34 -824)"
              />
            </g>
          </g>
        </svg>
        <NuxtLink to="change-password">Change password</NuxtLink>
      </li>
      <li v-if="$auth.user.isAdmin">
        <svg
xmlns="http://www.w3.org/2000/svg"
class="update"
xmlns:xlink="http://www.w3.org/1999/xlink"
width="48"
height="48"
viewBox="0 0 48 48"
>
          <defs>
            <filter
id="Line_101"
x="13.5"
y="5.008"
width="21"
height="32.629"
filterUnits="userSpaceOnUse"
>
              <feOffset dy="3" input="SourceAlpha"/>
              <feGaussianBlur stdDeviation="3" result="blur"/>
              <feFlood flood-opacity="0.161"/>
              <feComposite operator="in" in2="blur"/>
              <feComposite in="SourceGraphic"/>
            </filter>
            <filter
id="Line_36"
x="6.579"
y="21.737"
width="34.843"
height="21.28"
filterUnits="userSpaceOnUse"
>
              <feOffset dy="3" input="SourceAlpha"/>
              <feGaussianBlur stdDeviation="3" result="blur-2"/>
              <feFlood flood-opacity="0.161"/>
              <feComposite operator="in" in2="blur-2"/>
              <feComposite in="SourceGraphic"/>
            </filter>
            <filter
id="Subtraction_16"
x="0"
y="0"
width="48"
height="48"
filterUnits="userSpaceOnUse"
>
              <feOffset dy="3" input="SourceAlpha"/>
              <feGaussianBlur stdDeviation="3" result="blur-3"/>
              <feFlood flood-opacity="0.161"/>
              <feComposite operator="in" in2="blur-3"/>
              <feComposite in="SourceGraphic"/>
            </filter>
          </defs>
          <g id="Group_481" data-name="Group 481" transform="translate(-891 -2022)">
            <g id="Group_471" data-name="Group 471" transform="translate(-1038.92 1967.204) rotate(-90)">
              <g class="cls-7" transform="matrix(0, 1, -1, 0, -54.8, 1929.92)">
                <line id="Line_101-2" data-name="Line 101" class="cls-1" x2="11.629" transform="translate(24 24.14) rotate(-90)"/>
              </g>
              <line
id="Line_11"
data-name="Line 11"
class="cls-1"
y1="3.463"
x2="4.231"
transform="translate(-79.356 1950.457)"
/>
              <line
id="Line_12"
data-name="Line 12"
class="cls-1"
x2="4.231"
y2="3.463"
transform="translate(-79.356 1953.919)"
/>
              <g class="cls-6" transform="matrix(0, 1, -1, 0, -54.8, 1929.92)">
                <line
id="Line_36-2"
data-name="Line 36"
class="cls-1"
x2="0.23"
y2="13.793"
transform="translate(17.1 29.49) rotate(-90)"
/>
              </g>
            </g>
            <g class="cls-5" transform="matrix(1, 0, 0, 1, 891, 2022)">
              <g id="Subtraction_16-2" data-name="Subtraction 16" class="cls-2" transform="translate(-4 102)">
                <path class="cls-3" d="M20-96H36a7,7,0,0,1,7,7v16a7,7,0,0,1-7,7H20a7,7,0,0,1-7-7V-89A7,7,0,0,1,20-96Z"/>
                <path class="cls-4" d="M 19.99999618530273 -93.00000762939453 C 17.79438781738281 -93.00000762939453 15.99999618530273 -91.20561218261719 15.99999618530273 -89.00000762939453 L 15.99999618530273 -72.99997711181641 C 15.99999618530273 -70.79436492919922 17.79438781738281 -68.99997711181641 19.99999618530273 -68.99997711181641 L 35.99991607666016 -68.99997711181641 C 38.20552825927734 -68.99997711181641 39.99991607666016 -70.79436492919922 39.99991607666016 -72.99997711181641 L 39.99991607666016 -89.00000762939453 C 39.99991607666016 -91.20561218261719 38.20552825927734 -93.00000762939453 35.99991607666016 -93.00000762939453 L 19.99999618530273 -93.00000762939453 M 19.99999618530273 -96.00000762939453 L 35.99991607666016 -96.00000762939453 C 39.86590576171875 -96.00000762939453 42.99991607666016 -92.86599731445312 42.99991607666016 -89.00000762939453 L 42.99991607666016 -72.99997711181641 C 42.99991607666016 -69.13398742675781 39.86590576171875 -65.99997711181641 35.99991607666016 -65.99997711181641 L 19.99999618530273 -65.99997711181641 C 16.13400650024414 -65.99997711181641 12.99999618530273 -69.13398742675781 12.99999618530273 -72.99997711181641 L 12.99999618530273 -89.00000762939453 C 12.99999618530273 -92.86599731445312 16.13400650024414 -96.00000762939453 19.99999618530273 -96.00000762939453 Z"/>
              </g>
            </g>
          </g>
        </svg>

        <NuxtLink to="update">Check for update</NuxtLink>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="trash"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="55"
          height="45"
          viewBox="0 0 50.5 45"
        >
          <defs>
            <filter
              id="Rectangle_15"
              x="3"
              y="0"
              width="33"
              height="27"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Rectangle_14"
              x="0"
              y="6"
              width="39"
              height="39"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur-2" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-2" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Line_8"
              x="5.358"
              y="11.152"
              width="21"
              height="28.697"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur-3" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-3" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Line_9"
              x="12.015"
              y="11.152"
              width="21"
              height="28.697"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur-4" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-4" />
              <feComposite in="SourceGraphic" />
            </filter>
          </defs>
          <g id="Group_14" data-name="Group 14" transform="translate(36.373 -1900.955)">
            <g class="cls-8" transform="matrix(1, 0, 0, 1, -36.37, 1900.96)">
              <g id="Rectangle_15-2" data-name="Rectangle 15" class="cls-1" transform="translate(12 6)">
                <rect class="cls-3" width="15" height="9" rx="3" />
                <rect
                  class="cls-4"
                  x="1.5"
                  y="1.5"
                  width="12"
                  height="6"
                  rx="1.5"
                />
              </g>
            </g>
            <g class="cls-7" transform="matrix(1, 0, 0, 1, -36.37, 1900.96)">
              <g id="Rectangle_14-2" data-name="Rectangle 14" class="cls-2" transform="translate(9 12)">
                <path class="cls-3" d="M0,0H21a0,0,0,0,1,0,0V16a5,5,0,0,1-5,5H5a5,5,0,0,1-5-5V0A0,0,0,0,1,0,0Z" />
                <path
                  class="cls-4"
                  d="M3,1.5H18A1.5,1.5,0,0,1,19.5,3V16A3.5,3.5,0,0,1,16,19.5H5A3.5,3.5,0,0,1,1.5,16V3A1.5,1.5,0,0,1,3,1.5Z"
                />
              </g>
            </g>
            <line id="Line_7" data-name="Line 7" class="cls-2" x2="26.627" transform="translate(-30.5 1914.211)" />
            <g class="cls-6" transform="matrix(1, 0, 0, 1, -36.37, 1900.96)">
              <line id="Line_8-2" data-name="Line 8" class="cls-2" y2="7.697" transform="translate(15.86 18.65)" />
            </g>
            <g class="cls-5" transform="matrix(1, 0, 0, 1, -36.37, 1900.96)">
              <line id="Line_9-2" data-name="Line 9" class="cls-2" y2="7.697" transform="translate(22.51 18.65)" />
            </g>
          </g>
        </svg>
        <NuxtLink to="/clear-data">Clear your data</NuxtLink>
      </li>
      <li v-if="$auth.user.isAdmin">
        <svg
xmlns="http://www.w3.org/2000/svg"
class="backups"
xmlns:xlink="http://www.w3.org/1999/xlink"
width="53.546"
height="43.59"
viewBox="0 0 53.546 43.59"
>
          <defs>
            <filter
id="Path_71"
x="0"
y="0"
width="53.546"
height="43.59"
filterUnits="userSpaceOnUse"
>
              <feOffset dy="3" input="SourceAlpha"/>
              <feGaussianBlur stdDeviation="3" result="blur"/>
              <feFlood flood-opacity="0.161"/>
              <feComposite operator="in" in2="blur"/>
              <feComposite in="SourceGraphic"/>
            </filter>
            <filter
id="Path_72"
x="11.768"
y="10.596"
width="20"
height="27.08"
filterUnits="userSpaceOnUse"
>
              <feOffset dy="3" input="SourceAlpha"/>
              <feGaussianBlur stdDeviation="3" result="blur-2"/>
              <feFlood flood-opacity="0.161"/>
              <feComposite operator="in" in2="blur-2"/>
              <feComposite in="SourceGraphic"/>
            </filter>
            <filter
id="Path_72-2"
x="20.769"
y="11.019"
width="20"
height="27.171"
filterUnits="userSpaceOnUse"
>
              <feOffset dy="3" input="SourceAlpha"/>
              <feGaussianBlur stdDeviation="3" result="blur-3"/>
              <feFlood flood-opacity="0.161"/>
              <feComposite operator="in" in2="blur-3"/>
              <feComposite in="SourceGraphic"/>
            </filter>
          </defs>
          <g id="Group_51" data-name="Group 51" transform="translate(-883.231 -1985.021)">
            <g class="cls-5" transform="matrix(1, 0, 0, 1, 883.23, 1985.02)">
              <path id="Path_71-2" data-name="Path 71" class="cls-1" d="M925.241,2018.061H899.188s-4.176-1.722-3.994-7.8,6.082-7.292,6.082-7.292,1.725-7.292,8.805-7.495,9.8,6.786,9.8,6.786,7.444,1.013,7.807,6.887S925.241,2018.061,925.241,2018.061Z" transform="translate(-884.69 -1987.97)"/>
            </g>
            <g id="Group_49" data-name="Group 49" transform="translate(-1076.92 1936.764) rotate(-90)">
              <g class="cls-4" transform="matrix(0, 1, -1, 0, -48.26, 1960.15)">
                <path id="Path_72-3" data-name="Path 72" class="cls-2" d="M0,0H7.08" transform="translate(21.77 24.68) rotate(-90)"/>
              </g>
              <line
id="Line_11"
data-name="Line 11"
class="cls-2"
y1="2.5"
x2="3.059"
transform="translate(-73.356 1979.42)"
/>
              <line
id="Line_12"
data-name="Line 12"
class="cls-2"
x2="3.059"
y2="2.5"
transform="translate(-73.356 1981.919)"
/>
            </g>
            <g id="Group_50" data-name="Group 50" transform="translate(2895.92 2075.973) rotate(90)">
              <g class="cls-3" transform="matrix(0, -1, 1, 0, -90.95, 2012.69)">
                <path id="Path_72-4" data-name="Path 72" class="cls-2" d="M0,0H7.171" transform="translate(30.77 18.02) rotate(90)"/>
              </g>
              <line
id="Line_11-2"
data-name="Line 11"
class="cls-2"
y1="2.5"
x2="3.059"
transform="translate(-73.356 1979.42)"
/>
              <line
id="Line_12-2"
data-name="Line 12"
class="cls-2"
x2="3.059"
y2="2.5"
transform="translate(-73.356 1981.919)"
/>
            </g>
          </g>
        </svg>

        <NuxtLink to="backups">Backups</NuxtLink>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="logout"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="55"
          height="42.2"
          viewBox="0 0 52.47 48"
        >
          <defs>
            <filter
              id="Subtraction_6"
              x="0"
              y="0"
              width="44"
              height="48"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Line_10"
              x="6.894"
              y="13.121"
              width="45.576"
              height="21"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur-2" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-2" />
              <feComposite in="SourceGraphic" />
            </filter>
          </defs>
          <g id="Group_15" data-name="Group 15" transform="translate(98 -1934.667)">
            <g class="cls-7" transform="matrix(1, 0, 0, 1, -98, 1934.67)">
              <g id="Subtraction_6-2" data-name="Subtraction 6" class="cls-1" transform="translate(9 6)">
                <path
                  class="cls-4"
                  d="M19,30H7a7.008,7.008,0,0,1-7-7V7A7.008,7.008,0,0,1,7,0H19a7.008,7.008,0,0,1,7,7V9.643H23.215V7.214a4.005,4.005,0,0,0-4-4H6.786a4.005,4.005,0,0,0-4,4V22.785a4.005,4.005,0,0,0,4,4H19.214a4.005,4.005,0,0,0,4-4V20.357H26V23A7.008,7.008,0,0,1,19,30Z"
                />
                <path
                  class="cls-5"
                  d="M 18.99990081787109 29.99970054626465 L 7.00020170211792 29.99970054626465 C 3.140281438827515 29.99970054626465 1.498413098488527e-06 26.85983085632324 1.498413098488527e-06 23.00040054321289 L 1.498413098488527e-06 7.000200271606445 C 1.498413098488527e-06 3.140280246734619 3.140281438827515 2.731323149873788e-07 7.00020170211792 2.731323149873788e-07 L 18.99990081787109 2.731323149873788e-07 C 22.85982131958008 2.731323149873788e-07 26.00010108947754 3.140280246734619 26.00010108947754 7.000200271606445 L 26.00010108947754 9.642600059509277 L 23.21460151672363 9.642600059509277 L 23.21460151672363 7.214400291442871 C 23.21460151672363 5.008520126342773 21.41998100280762 3.213900327682495 19.21410179138184 3.213900327682495 L 6.786001682281494 3.213900327682495 C 4.580121517181396 3.213900327682495 2.785501480102539 5.008520126342773 2.785501480102539 7.214400291442871 L 2.785501480102539 22.78530120849609 C 2.785501480102539 24.99118041992188 4.580121517181396 26.78580093383789 6.786001682281494 26.78580093383789 L 19.21410179138184 26.78580093383789 C 21.41998100280762 26.78580093383789 23.21460151672363 24.99118041992188 23.21460151672363 22.78530120849609 L 23.21460151672363 20.35709953308105 L 26.00010108947754 20.35709953308105 L 26.00010108947754 23.00040054321289 C 26.00010108947754 26.85983085632324 22.85982131958008 29.99970054626465 18.99990081787109 29.99970054626465 Z"
                />
              </g>
            </g>
            <g class="cls-6" transform="matrix(1, 0, 0, 1, -98, 1934.67)">
              <line id="Line_10-2" data-name="Line 10" class="cls-2" x2="27.576" transform="translate(15.89 20.62)" />
            </g>
            <line
              id="Line_11"
              data-name="Line 11"
              class="cls-3"
              y1="4.34"
              x2="5.303"
              transform="translate(-59.303 1955.289)"
            />
            <line
              id="Line_12"
              data-name="Line 12"
              class="cls-3"
              x2="5.303"
              y2="4.34"
              transform="translate(-59.303 1950.948)"
            />
          </g>
        </svg>
        <button @click="logout">Log out</button>
      </li>
      <li v-if="$auth.user.isAdmin" class="power-off">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="poweroff"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="27"
          height="31.5"
          viewBox="0 0 27 31.5"
        >
          <defs>
            <clipPath id="clip-path">
              <path
                id="Path_44"
                data-name="Path 44"
                class="cls-1"
                d="M1038,2188v27h27v-27h-9v9.31h-9.052V2188Z"
                transform="translate(-912 835)"
              />
            </clipPath>
          </defs>
          <g id="Group_40" data-name="Group 40" transform="translate(-126 -3018.5)">
            <g id="Mask_Group_10" data-name="Mask Group 10" class="cls-2">
              <g id="Ellipse_19" data-name="Ellipse 19" class="cls-3" transform="translate(126 3023)">
                <circle class="cls-5" cx="13.5" cy="13.5" r="13.5" />
                <circle class="cls-6" cx="13.5" cy="13.5" r="12" />
              </g>
            </g>
            <line id="Line_35" data-name="Line 35" class="cls-4" y1="12" transform="translate(139.5 3020.5)" />
          </g>
        </svg>
        <button @click="powerOff">Power off</button>
      </li>
      <li v-if="$auth.user.isAdmin" class="factory-reset">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="trash-reset"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="55"
          height="45"
          viewBox="0 0 50.5 45"
        >
          <defs>
            <filter
              id="Rectangle_15"
              x="3"
              y="0"
              width="33"
              height="27"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Rectangle_14"
              x="0"
              y="6"
              width="39"
              height="39"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur-2" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-2" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Line_8"
              x="5.358"
              y="11.152"
              width="21"
              height="28.697"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur-3" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-3" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Line_9"
              x="12.015"
              y="11.152"
              width="21"
              height="28.697"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur-4" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-4" />
              <feComposite in="SourceGraphic" />
            </filter>
          </defs>
          <g id="Group_14" data-name="Group 14" transform="translate(36.373 -1900.955)">
            <g class="cls-8" transform="matrix(1, 0, 0, 1, -36.37, 1900.96)">
              <g id="Rectangle_15-2" data-name="Rectangle 15" class="cls-1" transform="translate(12 6)">
                <rect class="cls-3" width="15" height="9" rx="3" />
                <rect
                  class="cls-4"
                  x="1.5"
                  y="1.5"
                  width="12"
                  height="6"
                  rx="1.5"
                />
              </g>
            </g>
            <g class="cls-7" transform="matrix(1, 0, 0, 1, -36.37, 1900.96)">
              <g id="Rectangle_14-2" data-name="Rectangle 14" class="cls-2" transform="translate(9 12)">
                <path class="cls-3" d="M0,0H21a0,0,0,0,1,0,0V16a5,5,0,0,1-5,5H5a5,5,0,0,1-5-5V0A0,0,0,0,1,0,0Z" />
                <path
                  class="cls-4"
                  d="M3,1.5H18A1.5,1.5,0,0,1,19.5,3V16A3.5,3.5,0,0,1,16,19.5H5A3.5,3.5,0,0,1,1.5,16V3A1.5,1.5,0,0,1,3,1.5Z"
                />
              </g>
            </g>
            <line id="Line_7" data-name="Line 7" class="cls-2" x2="26.627" transform="translate(-30.5 1914.211)" />
            <g class="cls-6" transform="matrix(1, 0, 0, 1, -36.37, 1900.96)">
              <line id="Line_8-2" data-name="Line 8" class="cls-2" y2="7.697" transform="translate(15.86 18.65)" />
            </g>
            <g class="cls-5" transform="matrix(1, 0, 0, 1, -36.37, 1900.96)">
              <line id="Line_9-2" data-name="Line 9" class="cls-2" y2="7.697" transform="translate(22.51 18.65)" />
            </g>
          </g>
        </svg>
        <NuxtLink to="/factory-reset">Factory reset</NuxtLink>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  methods: {
    async logout() {
      await this.$auth.logout()
    },
    async powerOff() {
        this.$store.commit('setSpinner', true)
        await this.$axios.post('/api/power/off')
        const interval = setInterval(() => {
            this.$axios.get('/api').catch(() => {
                // offline
                clearInterval(interval)
                location.reload()
            })
        }, 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
.settings-section {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-shadow: 0 4px 7px #333;

  .avatar {
    .cls-1, .cls-5 {
      fill: none;
    }

    .cls-2 {
      fill: #fff;
      stroke: #fff;
      stroke-width: 5px;
    }

    .cls-3, .cls-4 {
      stroke: none;
    }

    .cls-4 {
      fill: #fff;
    }

    .cls-6 {
      filter: url(#Ellipse_4);
    }

    .cls-7 {
      filter: url(#Path_15);
    }
  }

  .John {
    margin-bottom: 1.2em;
    font-size: 2.2rem;
  }
  button{
    text-shadow: 0 4px 7px #333;
  }
}

ul {
  /*margin: 0 auto;*/
  width: 80%;
}

li {
  border-bottom: 2px solid white;
  text-align: left;
  padding: .5em;
  margin-bottom: .5em;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.17rem;

  .poweroff {
    margin: 3.3px 17.5px 10px .5em;

    .cls-1, .cls-3, .cls-4, .cls-6 {
      fill: none;
    }

    .cls-1 {
      stroke: #707070;
    }

    .cls-2 {
      clip-path: url(#clip-path);
    }

    .cls-3, .cls-4 {
      stroke: #B84D4D;
    }

    .cls-3 {
      stroke-width: 3px;
    }

    .cls-4 {
      stroke-linecap: round;
      stroke-width: 4px;
    }

    .cls-5 {
      stroke: none;
    }
  }

  .trash-reset {
    .cls-1, .cls-2, .cls-4 {
      fill: none;
    }

    .cls-1, .cls-2 {
      stroke: #B84D4D;
      stroke-width: 3px;
    }

    .cls-2 {
      stroke-linecap: round;
    }

    .cls-3 {
      stroke: none;
    }

    .cls-5 {
      filter: url(#Line_9);
    }

    .cls-6 {
      filter: url(#Line_8);
    }

    .cls-7 {
      filter: url(#Rectangle_14);
    }

    .cls-8 {
      filter: url(#Rectangle_15);
    }
  }

  .padlock {

    margin-left:-0.09em;
    margin-right: 0.09em;
    .cls-1 {
      fill: none;
      stroke-linecap: round;
    }

    .cls-2 {
      fill: #fff;
    }

    .cls-3, .cls-4 {
      stroke: none;
    }

    .cls-4 {
      fill: #fff;
    }

    .cls-5 {
      filter: url(#Subtraction_1);
    }

    .cls-6 {
      filter: url(#Path_16);
    }
  }

  .update {
    margin-left: -0.15em;
    margin-right: 0.35em;

    .cls-1, .cls-2 {
      fill: none;
    }

    .cls-1 {
      stroke: #fff;
      stroke-linecap: round;
      stroke-width: 3px;
    }

    .cls-3, .cls-4 {
      stroke: none;
    }

    .cls-4 {
      fill: #fff;
    }

    .cls-5 {
      filter: url(#Subtraction_16);
    }

    .cls-6 {
      filter: url(#Line_36);
    }

    .cls-7 {
      filter: url(#Line_101);
    }
  }

  .trash {

    margin-left:-0.07em;
    margin-right: 0.07em;
    .cls-1, .cls-2, .cls-4 {
      fill: none;
    }

    .cls-1, .cls-2 {
      stroke: #fff;
      stroke-width: 3px;
    }

    .cls-2 {
      stroke-linecap: round;
    }

    .cls-3 {
      stroke: none;
    }

    .cls-5 {
      filter: url(#Line_9);
    }

    .cls-6 {
      filter: url(#Line_8);
    }

    .cls-7 {
      filter: url(#Rectangle_14);
    }

    .cls-8 {
      filter: url(#Rectangle_15);
    }
  }

.backups{
  margin-left:-0.17em;
  margin-right: 0.17em;
  .cls-1, .cls-2 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
}

  .cls-1 {
    stroke-linejoin: bevel;
    stroke-width: 3px;
  }

  .cls-2 {
    stroke-width: 2px;
  }

  .cls-3 {
    filter: url(#Path_72-2);
  }

  .cls-4 {
    filter: url(#Path_72);
  }

  .cls-5 {
    filter: url(#Path_71);
  }
}

  .logout {
    margin-left:-0.07em;
    margin-right: 0.07em;
    .cls-1, .cls-2, .cls-3 {
      fill: none;
    }

    .cls-2, .cls-3 {
      stroke: #fff;
      stroke-width: 3px;
    }

    .cls-3 {
      stroke-linecap: round;
    }

    .cls-4, .cls-5 {
      stroke: none;
    }

    .cls-5 {
      fill: #fff;
    }

    .cls-6 {
      filter: url(#Line_10);
    }

    .cls-7 {
      filter: url(#Subtraction_6);
    }
  }
}
.power-off{
  color: #B84D4D;
}
.factory-reset{
  color: #B84D4D;
}
li::after {
  content: '';
  position: absolute;
  right: 0;
  top: calc(1.25em - 1.8px);
  width: 15px;
  height: 15px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-radius: 3px;
  transform: rotate(45deg);
}
</style>
