<template>
  <section id="statistics-section" class="statistics-section">
    <Calendar />
    <label class="calendar-label">so far, you managed to drink enough water <span>{{ daysReached }}</span> <cond v-if="daysReached!==1">times</cond><cond v-if="daysReached===1">time</cond> this month</label>
    <label class="week-label">on average, you drank the most on <span>{{ weekDay }}</span> this month</label>
    <WeekChart />
    <MonthlyAreaChart />
    <label class="monthly-label">this month, you drank the most on the <span>{{ monthDay }}</span></label>
  </section>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  computed: {
    daysReached() {
      return this.$store.getters.daysReached
    },
    weekDay() {
      return this.$store.getters.bestWeekDay
    },
    monthDay() {
      return this.$store.getters.bestMonthDay
    },
  },
}
</script>

<style scoped lang="scss">
.statistics-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  height: 610px;
  margin-bottom: 150px;
  font-size: min(1rem, calc((25 / 550)*90vw));
}
Calendar{
  grid-column: 1;
}
WeekChart{
  grid-column: 2;
}
MonthlyAreaChart{
  grid-column: 1;
}
label{

  text-shadow: #555 2px 2px 4px;
  vertical-align: center;

  span {
    font-size: min(1.5rem, calc((35 / 550) * 90vw));
    color: #004377;
  }

}
.calendar-label, .monthly-label{
  grid-column: 2;
}
.week-label{
  grid-column: 1;
}

</style>
