<template>
  <div>
    <Nuxt/>
    <Nav/>
  </div>
</template>

<script>
export default {
  head() {
    return {
      bodyAttrs: {
        id: 'default-page'
      }
    }
  }
}
</script>

<style lang="scss">
@font-face {
  font-family: Bungee;
  src: local("Bungee"), url("~/assets/fonts/Bungee-Regular.ttf") format("TrueType");
}

html {
  font-family: 'Bungee',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  font-size: 1.25rem;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*:focus {
 outline: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button {
  padding: .25em .5em .25em .5em;
  background-image: linear-gradient(white, #89ceff);
  border-radius: 1em;
  color: #05629D;
}

#default-page {
  background-image: url("@/assets/svg/background.svg");
  background-size: 100% 100%;
  margin-bottom: -50px;
}

.form {
  display: inherit;
  flex-direction: inherit;
  align-items: start;

  input {
    font-family: Monsterrat,sans-serif;
    font-weight: 700;
    margin: 0 auto;
    font-size: 1.2rem;
    border: 5px solid white;
    border-radius: 35px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .4) inset,
    0 3px 5px #555;
    text-shadow: 2px 2px 3px #4f4f4f;
    padding: 0 1em 0 0.6em;
    background: rgba(0,0,0,0);
    color: #004377;
    width: 300px;
    grid-area: 1 / 1;
    display: block;
  }

  .password {
    background: #708EA8;
  }

  label {
    font-size: 1.1rem;
    margin-top: 5%;
    margin-left: 1em;
  }

  button {
    align-self: center;
    width: 300px;
    font-size: 1.3rem;
  }

  &.white-text {
    input {
      color: white;
    }
  }
}

.error {
  color: darkred;
  text-shadow: none;
  font-size: .7em;
}
</style>
