<template>
  <div class="container error-container">
    <h1 v-if="error.statusCode === 404">Page not found</h1>
    <h1 v-else>An error occurred</h1>
    <NuxtLink to="/">Go to the home page</NuxtLink>
  </div>
</template>

<script>
export default {
  layout: 'errorLayout',
  props: {
    error: {
      type: Object,
      default() { return {} }
    }
  }
}
</script>

<style lang="scss">
.error-container {
  justify-content: center;

  h1 {
    font-size: 2rem;
    text-shadow: 0 5px 7px #222;
    margin-bottom: 1em;
  }

  a {
    text-decoration: underline;
  }
}
</style>
