<template>
  <div>
    <Nuxt />
  </div>
</template>

<script>
export default {
  head() {
    return {
      bodyAttrs: {
        id: 'error-page'
      }
    }
  }
}
</script>

<style>
#error-page {
  background-image: linear-gradient(#5c737f, #003566);
}
</style>
