<template>
  <div>
    <Nuxt/>
  </div>
</template>

<script>
export default {
  head() {
    return {
      bodyAttrs: {
        id: 'login-page'
      }
    }
  }
}
</script>

<style>
@font-face {
  font-family: Bungee;
  src: local("Bungee"), url("~/assets/fonts/Bungee-Regular.ttf") format("TrueType");
}

html {
  font-family: 'Bungee',
  'Source Sans Pro',
  'Monsterrat',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  font-size: 1.25rem;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button {
  padding: .25em .5em .25em .5em;
  background-image: linear-gradient(white, #89ceff);
  border-radius: 1em;
  color: #05629D;
}

#login-page {
  overflow-x: hidden;
  background-image: linear-gradient(#CDD6DB, #003566);
  height: 100%;
}
</style>
