<template>
  <div id="setting-page">
    <Nuxt />
    <Nav />
  </div>
</template>

<style>
@font-face {
  font-family: Bungee;
  src: local("Bungee"), url("~/assets/fonts/Bungee-Regular.ttf") format("TrueType");
}

html {
  font-family: 'Bungee',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  font-size: 1.25rem;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button {
  padding: .25em .5em .25em .5em;
  border-radius: 1em;
  color: #05629D;
  background-image: linear-gradient(#94ccef, #ebf7ff);
  margin-top: 27%;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .4);
}

.link-back {
  font-size: 2.5vh;
  width: min(45vh, 85vw);
  border-bottom: 2px solid white;
  padding-bottom: 1vh;
  margin-top: 40px;
}

.link-back::before {
  content: '';
  position: absolute;
  left: max(calc(50% - 20vh), calc(50% - 40vw));
  top: calc(40px + 0.7vh);
  width: 2.3vh;
  height: 2.3vh;
  border-top: 0.6vh solid white;
  border-right: 0.6vh solid white;
  border-radius: 0.6vh;
  transform: rotate(225deg);
  box-shadow: 0.1vh -.2vh .2vh #333;
}

#setting-page {
  overflow-x: hidden;
  background-image: linear-gradient(#CDD6DB, #003566);
  height: 100%;
}
</style>
