<template>
  <section class="backup-section">
    <div class="container">
      <NuxtLink to="/" class="link-back">BACKUPS</NuxtLink>
      <p v-if="error" class="error">
        {{ error }}
      </p>
      <div class="backup-option">
        <button @click="askPassword1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="uploadBackup"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="141.494"
            height="143.993"
            viewBox="0 0 141.494 143.993"
          >
            <defs>
              <filter
                id="Path_72"
                x="57.248"
                y="47.371"
                width="27"
                height="96.622"
                filterUnits="userSpaceOnUse"
              >
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <clipPath id="clip-path">
                <path
id="Path_73"
data-name="Path 73"
class="cls-1"
                      d="M-335.429,543.419c.6-6.011,25.247-50.495,59.512,0-.6,0,26.45,5.41,25.848,21.641a52.791,52.791,0,0,1-8.18,26.786h-29.563c-3.157,0-3.9.641-3.984,2.448s-.021,4.873,0,5.337.2,2.528,3.984,2.738c.341.019-5.067.2-5.067.2s-4.077,7.556,1.083,7.479c14.754-.22,48.458,0,48.458,0s35.347-73.236-21.76-82.854c-18.635-35.467-56.506-43.281-85.961,0-43.818,27.484-11.438,81.559-11.438,81.559s36.889-.045,49.7,0c.59,0-.7-6.186,0-6.184,1.481,0-4.434,0-4.157,0a2.626,2.626,0,0,0,2.861-2.932v-5.338c0-2.631-3.2-2.253-3.2-2.253l-28.609-.194S-370.294,560.852-335.429,543.419Z"
                />
              </clipPath>
            </defs>
            <g id="Group_59" data-name="Group 59" transform="translate(795.015 -464.701)">
              <g id="Group_54" data-name="Group 54" transform="translate(-714.547 520.929) rotate(90)">
                <g class="cls-5" transform="matrix(0, -1, 1, 0, -56.23, 80.47)">
                  <path
id="Path_72-2"
data-name="Path 72"
class="cls-2"
d="M0,0H69.622"
                        transform="translate(70.75 57.87) rotate(90)"
                  />
                </g>
                <line
                  id="Line_11"
                  data-name="Line 11"
                  class="cls-2"
                  y1="9.721"
                  x2="11.896"
                  transform="translate(0 0)"
                />
                <line
                  id="Line_12"
                  data-name="Line 12"
                  class="cls-2"
                  x2="11.896"
                  y2="9.722"
                  transform="translate(0 9.72)"
                />
              </g>
              <g id="Mask_Group_10" data-name="Mask Group 10" class="cls-3" transform="translate(-421 -32.885)">
                <g id="Group_53" data-name="Group 53" transform="translate(-1261 -1483.248)">
                  <path
id="Path_71"
data-name="Path 71"
class="cls-4"
                        d="M1012.046,2083.309H910.74s-16.237-6.694-15.531-30.324,23.649-28.356,23.649-28.356,6.707-28.354,34.239-29.142,38.122,26.385,38.122,26.385,28.944,3.938,30.356,26.78S1012.046,2083.309,1012.046,2083.309Z"
                        transform="translate(-1.456 -2.949)"
                  />
                </g>
              </g>
            </g>
          </svg>
        </button>
        <button v-if="!askingPassword1" class="button" @click="askPassword1">Restore backup</button>
        <div v-else class="password-prompt">
          <form class="form tiny-form white-text" @submit.prevent="submitPassword1">
            <label for="restore-password">Please enter your password:</label>
            <input id="restore-password" v-model="password" type="password" autocomplete="current-password">
          </form>
        </div>
        <input id="backup-upload-page" ref="fileInput" type="file" accept=".hydrobak" @change="onFileUpload">
      </div>

      <div class="backup-option">
        <button @click="askPassword2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="downloadBackup"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="141.494"
            height="143.711"
            viewBox="0 0 141.494 143.711"
          >
            <defs>
              <filter
                id="Path_72"
                x="57.246"
                y="53.388"
                width="27"
                height="90.323"
                filterUnits="userSpaceOnUse"
              >
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <clipPath id="clip-path">
                <path
id="Path_77"
data-name="Path 77"
class="cls-1"
                      d="M-335.429,543.419c.6-6.011,25.247-50.495,59.512,0-.6,0,26.45,5.41,25.848,21.641a52.791,52.791,0,0,1-8.18,26.786h-29.563c-3.157,0-3.9.641-3.984,2.448s-.021,4.873,0,5.337.2,2.528,3.984,2.738c.341.019-5.067.2-5.067.2s-4.077,7.556,1.083,7.479c14.754-.22,48.458,0,48.458,0s35.347-73.236-21.76-82.854c-18.635-35.467-56.506-43.281-85.961,0-43.818,27.484-11.438,81.559-11.438,81.559s36.889-.045,49.7,0c.59,0-.7-6.186,0-6.184,1.481,0-4.434,0-4.157,0a2.626,2.626,0,0,0,2.861-2.932v-5.338c0-2.631-3.2-2.253-3.2-2.253l-28.609-.194S-370.294,560.852-335.429,543.419Z"
                />
              </clipPath>
            </defs>
            <g id="Group_60" data-name="Group 60" transform="translate(601.015 -468.945)">
              <g id="Group_57" data-name="Group 57" transform="translate(-539.989 597.799) rotate(-90)">
                <g class="cls-5" transform="matrix(0, 1, -1, 0, 128.85, -61.03)">
                  <path
id="Path_72-2"
data-name="Path 72"
class="cls-2"
d="M0,0H63.323"
                        transform="translate(70.75 127.21) rotate(-90)"
                  />
                </g>
                <line
                  id="Line_11"
                  data-name="Line 11"
                  class="cls-2"
                  y1="9.721"
                  x2="11.896"
                  transform="translate(0 0)"
                />
                <line
                  id="Line_12"
                  data-name="Line 12"
                  class="cls-2"
                  x2="11.896"
                  y2="9.722"
                  transform="translate(0 9.72)"
                />
              </g>
              <g id="Mask_Group_12" data-name="Mask Group 12" class="cls-3" transform="translate(-227 -28.64)">
                <g id="Group_58" data-name="Group 58" transform="translate(-1261 -1483.248)">
                  <path
id="Path_76"
data-name="Path 76"
class="cls-4"
                        d="M1012.046,2083.309H910.74s-16.237-6.694-15.531-30.324,23.649-28.356,23.649-28.356,6.707-28.354,34.239-29.142,38.122,26.385,38.122,26.385,28.944,3.938,30.356,26.78S1012.046,2083.309,1012.046,2083.309Z"
                        transform="translate(-1.456 -2.949)"
                  />
                </g>
              </g>
            </g>
          </svg>
        </button>
        <button v-if="!askingPassword2" class="button" @click="askPassword2">Download backup</button>
        <div v-else class="password-prompt">
          <form class="form tiny-form white-text" @submit.prevent="submitPassword2">
            <label for="backup-password">Please enter your password:</label>
            <input id="backup-password" v-model="password" type="password" autocomplete="current-password">
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'settingLayout',
  data() {
    return {
      askingPassword1: false,
      askingPassword2: false,
      password: '',
      formData: undefined,
      error: ''
    }
  },
  methods: {
    async downloadBackup() {
      let backupResponse

      try {
        this.$store.commit('setSpinner', true)
        backupResponse = await this.$axios.post('/api/backup/create', {
          password: this.password
        }, { responseType: 'blob' })
      } catch (err) {
        this.error = 'Something went wrong. Check your password and try again.'
        return
      } finally {
        this.password = ''
        this.$store.commit('setSpinner', false)
      }
      this.error = ''

      const url = window.URL.createObjectURL(new Blob([backupResponse.data]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', backupResponse.headers['content-filename'])
      document.body.appendChild(link)
      link.click()
      // window.open(url, '_blank')
    },
    async restoreBackup() {
      this.formData.append('password', this.password)
      try {
        await this.$axios.post('/api/backup/restore', this.formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
      } catch (e) {
        this.error = 'Something went wrong. Check your password and try again.'
        return
      } finally {
        this.password = ''
      }
      this.error = ''
    },
    onFileUpload() {
      const backupFile = this.$refs.fileInput.files[0]

      this.formData = new FormData()
      this.formData.append('file', backupFile)

      this.askingPassword1 = true
    },
    askPassword1() {
      this.askingPassword2 = false

      this.$refs.fileInput.click()
    },
    askPassword2() {
      this.askingPassword1 = false
      this.askingPassword2 = true
    },
    submitPassword1() {
      this.askingPassword1 = false
      this.restoreBackup()
    },
    submitPassword2() {
      this.askingPassword2 = false
      this.downloadBackup()
    }
  }
}
</script>

<style lang="scss">
.backup-section {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vh;
  text-shadow: 0 4px 7px #333;

  .error {
    margin-top: 2em;
    margin-bottom: -1em;
  }

  .backup-option {
    button {
      display: block;
      margin: 0 auto;
    }

    button.button {
      margin-top: 1em;
    }
  }

  .downloadBackup {
    margin-top: 2em;
    width: 10em;
    height: auto;

    .cls-1, .cls-2, .cls-4 {
      fill: none;
    }

    .cls-1 {
      stroke: #707070;
    }

    .cls-2, .cls-4 {
      stroke: #fff;
      stroke-linecap: round;
    }

    .cls-2 {
      stroke-width: 9px;
    }

    .cls-3 {
      clip-path: url(#clip-path);
    }

    .cls-4 {
      stroke-linejoin: bevel;
      stroke-width: 10px;
    }

    .cls-5 {
      filter: url(#Path_72);
    }
  }

  .uploadBackup {
    margin-top: 2em;
    width: 10em;
    height: auto;

    .cls-1, .cls-2, .cls-4 {
      fill: none;
    }

    .cls-1 {
      stroke: #707070;
    }

    .cls-2, .cls-4 {
      stroke: #fff;
      stroke-linecap: round;
    }

    .cls-2 {
      stroke-width: 9px;
    }

    .cls-3 {
      clip-path: url(#clip-path);
    }

    .cls-4 {
      stroke-linejoin: bevel;
      stroke-width: 10px;
    }

    .cls-5 {
      filter: url(#Path_72);
    }
  }
}

#backup-upload-page {
  display: none;
}

.form.tiny-form {
  label {
    font-size: .9rem;
  }
}
</style>
