<template>
  <section class="password-section">
    <div class="container">
      <NuxtLink to="/" class="link-back">Change password</NuxtLink>
      <p v-if="error" class="error">
        {{ error }}
      </p>
      <p v-else-if="successMessage" class="success-message">
        {{ successMessage }}
      </p>
      <form class="form change-password-form" @submit.prevent="changePassword">
        <label for="username" class="password-manager">Username</label>
        <input id="username" type="text" :value="$auth.user.username" class="password-manager" disabled>
        <label for="old-password">Old password</label>
        <input id="old-password" v-model="oldPassword" type="password" autocomplete="current-password">
        <label for="new-password">New password</label>
        <input id="new-password" v-model="newPassword" type="password" autocomplete="new-password">
        <label for="repeat-password">Repeat new password</label>
        <input id="repeat-password" v-model="confirmNewPassword" type="password" autocomplete="new-password">
        <button class="button" type="submit">confirm</button>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'settingLayout',
  data() {
    return {
      oldPassword: '',
      newPassword: '',
      confirmNewPassword: '',
      error: '',
      successMessage: ''
    }
  },
  methods: {
    async changePassword() {
      if (!this.verifyInput()) {
        this.successMessage = ''
        return
      }
      try {
        await this.$axios.post('api/auth/update-password', {
          password: this.oldPassword,
          newPassword: this.newPassword
        })
        this.error = ''
        this.successMessage = 'Password changed successfully'
      } catch (err) {
        this.successMessage = ''
        const message = err.response.data.message
        this.error = Array.isArray(message) ? message[0] : message
      }
    },
    verifyInput() {
      for (const input of [this.oldPassword, this.newPassword, this.confirmNewPassword]) {
        if (typeof input !== 'string' || input.length < 8) {
          this.error = 'Your password must be at least 8 characters long'
          return false
        }
      }

      if (this.newPassword !== this.confirmNewPassword) {
        this.error = 'Passwords do not match'
        return false
      }

      this.error = ''
      return true
    }
  }
}
</script>

<style lang="scss" scoped>
.password-section {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 4px 7px #333;

  .change-password-form {
    margin-top: 2em;
  }

  .error {
    margin-top: 2em;
    margin-bottom: -1em;
  }

  .success-message {
    margin-top: 2em;
    margin-bottom: -1em;

    color: forestgreen;
    text-shadow: none;
    font-size: .7em;
  }
}

.password-manager {
  display: none;
}
</style>
