<template>
  <div class="container">
    <a id="top"/>
    <TheDroplet/>
    <NuxtChild/>
    <TheStatistics/>
    <TheSettings/>
  </div>
</template>

<script>
export default {
  data() {
    return {
      eventSource: undefined
    }
  },
  async fetch() {
    this.$store.commit('setSpinner', true)

    await this.$store.dispatch('fetchAllData')
    this.$store.commit('setSpinner', false)
    this.eventSource = new EventSource('/api/consumption/live')

    this.eventSource.onmessage = (message) => {
      this.$store.commit('setConsumptionStatus', JSON.parse(message.data))
    }
  },
  beforeDestroy() {
    if (this.eventSource) {
      this.eventSource.close()
    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

</style>
