<template>
  <div class="login-container">
    <svg
      class="watermark"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="527.999"
      height="792"
      viewBox="0 0 527.999 792"
    >
      <defs>
        <filter
          id="Path_6"
          x="80.391"
          y="546"
          width="81.134"
          height="81.134"
          filterUnits="userSpaceOnUse"
        >
          <feOffset dy="3" input="SourceAlpha"/>
          <feGaussianBlur stdDeviation="3" result="blur"/>
          <feFlood flood-opacity="0.349"/>
          <feComposite operator="in" in2="blur"/>
          <feComposite in="SourceGraphic"/>
        </filter>
        <filter
          id="Path_5"
          x="210.474"
          y="566.859"
          width="107.052"
          height="109.141"
          filterUnits="userSpaceOnUse"
        >
          <feOffset dy="3" input="SourceAlpha"/>
          <feGaussianBlur stdDeviation="3" result="blur-2"/>
          <feFlood flood-opacity="0.361"/>
          <feComposite operator="in" in2="blur-2"/>
          <feComposite in="SourceGraphic"/>
        </filter>
        <filter
          id="Path_45"
          x="366.474"
          y="546"
          width="81.134"
          height="81.134"
          filterUnits="userSpaceOnUse"
        >
          <feOffset dy="3" input="SourceAlpha"/>
          <feGaussianBlur stdDeviation="3" result="blur-3"/>
          <feFlood flood-opacity="0.349"/>
          <feComposite operator="in" in2="blur-3"/>
          <feComposite in="SourceGraphic"/>
        </filter>
      </defs>
      <g id="Group_41" data-name="Group 41" transform="translate(415 -828)">
        <g id="Path_44" data-name="Path 44" class="cls-1" transform="translate(-415 922)">
          <path
            class="cls-4"
            d="M264-94c-.577.781,264,377.927,264,525.249S409.8,698,264,698,0,578.572,0,431.25,264.577-94.78,264-94Z"
          />
          <path
            class="cls-5"
            d="M 263.70703125 -22.25128173828125 C 171.9195556640625 116.2078247070312 39.99996948242188 338.6212768554688 39.99996948242188 431.2499084472656 C 39.99996948242188 556.280029296875 140.48583984375 657.9994506835938 263.9995422363281 657.9994506835938 C 387.5132446289062 657.9994506835938 487.9991149902344 556.280029296875 487.9991149902344 431.2499084472656 C 487.9991149902344 359.7812194824219 404.7320556640625 191.885009765625 263.70703125 -22.25128173828125 M 264.00048828125 -94.00042724609375 C 264.0005187988281 -94.00042724609375 264 -93.99969482421875 263.9990234375 -93.9981689453125 C 263.9994506835938 -93.99951171875 264.0004577636719 -94.00042724609375 264.00048828125 -94.00042724609375 Z M 263.9990234375 -93.9981689453125 C 263.6159973144531 -92.94195556640625 527.9990844726562 283.9821472167969 527.9990844726562 431.2499084472656 C 527.9990844726562 578.5715942382812 409.8025512695312 697.9994506835938 263.9995422363281 697.9994506835938 C 118.1966857910156 697.9994506835938 0 578.5715942382812 0 431.2499084472656 C 0 284.2878723144531 263.2866516113281 -92.93243408203125 263.9990234375 -93.9981689453125 Z"
          />
        </g>
        <g id="Droplet" class="cls-2" transform="translate(-325.609 1380)">
          <g class="cls-8" transform="matrix(1, 0, 0, 1, -89.39, -552)">
            <path
              id="Path_6-2"
              data-name="Path 6"
              class="cls-3"
              d="M31.567,0A31.567,31.567,0,1,1,0,31.567,31.567,31.567,0,0,1,31.567,0Z"
              transform="translate(89.39 552)"
            />
          </g>
          <g class="cls-7" transform="matrix(1, 0, 0, 1, -89.39, -552)">
            <path
              id="Path_5-2"
              data-name="Path 5"
              class="cls-3"
              d="M232.416-460.866c9.135-12.482,78.1-9.285,82.994,0s5.039,82.727-41.5,82.934S223.28-448.384,232.416-460.866Z"
              transform="translate(-9.01 1041.93)"
            />
          </g>
          <g class="cls-6" transform="matrix(1, 0, 0, 1, -89.39, -552)">
            <path
              id="Path_45-2"
              data-name="Path 45"
              class="cls-3"
              d="M31.567,0A31.567,31.567,0,1,1,0,31.567,31.567,31.567,0,0,1,31.567,0Z"
              transform="translate(375.47 552)"
            />
          </g>
        </g>
      </g>
    </svg>
    <h1><span>Log in</span> to access</h1>
    <h2>your hydrominder</h2>
    <p v-if="loginError" class="error">
      Something went wrong logging you in.
      Check your username and password and try again.
    </p>
    <form class="form" @submit.prevent="userLogin">
      <label for="username">Username</label>
      <input id="username" v-model="login.username" type="text" autocomplete="username">
      <label for="password">Password</label>
      <input
        id="password"
        v-model="login.password"
        class="password"
        type="password"
        autocomplete="current-password"
      >
      <button class="button" type="submit">Log in</button>
    </form>
    <p class="register-option">
      Don't have an account yet?<br>
      <NuxtLink to="/register">Click here to register</NuxtLink>
    </p>
  </div>
</template>
<script>
export default {
  layout: 'login',
  data() {
    return {
      login: {
        username: '',
        password: ''
      },
      loginError: false
    }
  },
  methods: {
    async userLogin() {
      try {
        await this.$auth.loginWith('cookie', { data: this.login })
        this.loginError = false
      } catch (err) {
        this.loginError = true
      }
    }
  },
  auth: 'guest'
}
</script>
<style lang="scss" scoped>

.login-container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.3rem;

  text-shadow: 0 4px 7px #333;

  h1 {
    margin-top: 2em;
  }

  h2 {
    margin-bottom: 2em;
    z-index: 5;
  }

  span {
    color: #004377;
    font-size: 1.6rem;
    vertical-align: center;
    text-shadow: -1px 3px 4px #444;
  }

  .watermark {
    position: absolute;
    top: 3%;
    right: -250px;
    height: 92vh;
    width: auto;
    z-index: -1;
    mix-blend-mode: soft-light;

    .cls-1 {
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .cls-1, .cls-2 {
      mix-blend-mode: soft-light;
      isolation: isolate;
    }

    .cls-3 {
      fill: #fff;
    }

    .cls-4, .cls-5 {
      stroke: none;
    }

    .cls-5 {
      fill: #fff;
    }

    .cls-6 {
      filter: url(#Path_45);
    }

    .cls-7 {
      filter: url(#Path_5);
    }

    .cls-8 {
      filter: url(#Path_6);
    }
  }

  .register-option {
    margin-top: 1.5em;
    font-size: .75rem;

    a {
      text-decoration: underline;
      color: #94ccef;
    }
  }
}

</style>
