<template>
  <div class="register-container">
    <h1><span>Create</span> a new account</h1>
    <p v-if="error" class="error">
      {{ error }}
    </p>
    <form class="form register-form" @submit.prevent="userRegister">
      <label for="username">Username</label>
      <input id="username" v-model="username" type="text" autocomplete="username">
      <label for="password">Password</label>
      <input
        id="password"
        v-model="password"
        class="password"
        type="password"
        autocomplete="new-password"
      >
      <label for="password-confirm">Confirm password</label>
      <input
        id="password-confirm"
        v-model="passwordConfirm"
        class="password"
        type="password"
        autocomplete="new-password"
      >
      <button class="button" type="submit">Register</button>
    </form>
    <p class="login-option">
      Already have an account?<br>
      <NuxtLink to="/login">Click here to log in</NuxtLink>
    </p>
  </div>
</template>

<script>
export default {
  layout: 'login',
  data() {
    return {
      username: '',
      password: '',
      passwordConfirm: '',
      error: ''
    }
  },
  methods: {
    async userRegister() {
      if (!this.verifyInput()) {
        return
      }
      try {
        await this.$axios.post('/api/auth/register', {
          username: this.username,
          password: this.password,
          timezone: Intl.DateTimeFormat().resolvedOptions().timeZone
        })
        await this.$auth.loginWith('cookie', {
          data: {
            username: this.username,
            password: this.password
          }
        })
      } catch (err) {
        this.error = err.response.data.message
      }
    },
    verifyInput() {
      if (typeof this.username !== 'string' || this.username.length < 1) {
        this.error = 'You must enter a username'
        return false
      }

      if (typeof this.password !== 'string' || this.password.length < 8) {
        this.error = 'Your password must be at least 8 characters long'
        return false
      }

      if (this.password !== this.passwordConfirm) {
        this.error = 'Passwords do not match'
        return false
      }

      this.error = ''
      return true
    }
  },
  auth: 'guest'
}
</script>

<style scoped lang="scss">
.register-container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.3rem;

  text-shadow: 0 4px 7px #333;

  h1 {
    margin-top: 2em;

    span {
      color: #004377;
      font-size: 1.6rem;
      vertical-align: center;
      text-shadow: -1px 3px 4px #666;
    }
  }

  .error {
    margin-top: 1.5rem;
    margin-bottom: -3rem;
    color: darkred;
    text-shadow: none;
    font-size: .7em;
  }

  .login-option {
    margin-top: 1.5em;
    font-size: .75rem;

    a {
      text-decoration: underline;
      color: #94ccef;
    }
  }

  .register-form {
    margin-top: 3em;
  }
}
</style>
