<template>
  <section class="update-section">
    <div class="container">
      <NuxtLink to="/" class="link-back">CHECK FOR UPDATES</NuxtLink>
      <h1 v-if="installing" class="checking">Installing update{{ updates.length > 1 ? 's' : '' }}</h1>
      <div v-else>
        <h1 v-if="!updates" class="checking">Checking for updates...</h1>

        <div v-else-if="updates.length > 0">
          <h1 class="checking">Update{{ updates.length > 1 ? 's' : '' }} found:</h1>
          <h2 v-for="service in updates" :key="service.key">
            {{ service.name }}
          </h2>
          <button class="button" @click="initiate()">
            Install update{{ updates.length > 1 ? 's' : '' }}
          </button>
        </div>

        <h1 v-else class="checking">No update found</h1>
      </div>

      <div v-if="installing || !updates">
        <svg
          class="bigUpdate spinning"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="175.509"
          height="148.552"
          viewBox="0 0 175.509 148.552"
        >
          <defs>
            <filter
              id="Subtraction_4"
              x="18.237"
              y="0"
              width="147.653"
              height="148.552"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="4" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur" />
              <feFlood flood-opacity="0.38" />
              <feComposite operator="in" in2="blur" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Path_31"
              x="146.182"
              y="65.586"
              width="29.327"
              height="42.327"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dx="3" dy="4" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="1.5" result="blur-2" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-2" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Path_30"
              x="0"
              y="29.139"
              width="49.165"
              height="52.666"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dx="-2" dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="1.5" result="blur-3" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-3" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Path_29"
              x="16.908"
              y="33.733"
              width="47.433"
              height="52.754"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="3" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="1.5" result="blur-4" />
              <feFlood flood-opacity="0.161" />
              <feComposite operator="in" in2="blur-4" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter
              id="Path_44"
              x="127.579"
              y="62.984"
              width="35.033"
              height="31.033"
              filterUnits="userSpaceOnUse"
            >
              <feOffset dy="-1" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="0.5" result="blur-5" />
              <feFlood flood-opacity="0.239" />
              <feComposite operator="in" in2="blur-5" />
              <feComposite in="SourceGraphic" />
            </filter>
          </defs>
          <g id="Group_30" data-name="Group 30" transform="translate(-96.38 -2651)">
            <g id="Group_13" data-name="Group 13" transform="translate(-21.0 -44)">
              <g id="Group_12" data-name="Group 12" transform="translate(130.671 2704)">
                <g class="cls-11" transform="matrix(1, 0, 0, 1, -17.6, -5)">
                  <g id="Subtraction_4-2" data-name="Subtraction 4" class="cls-1" transform="translate(27.24 5)">
                    <path class="cls-5" d="M 64.82652282714844 128.5517425537109 C 51.34468460083008 128.5517425537109 38.46773910522461 124.3674240112305 27.58775901794434 116.451171875 C 17.45561981201172 109.0790252685547 9.866560935974121 99.08852386474609 5.536307811737061 87.45692443847656 L 13.009108543396 85.86859893798828 C 21.44242095947266 106.972770690918 42.04708099365234 121.0302124023438 64.82652282714844 121.0302124023438 C 91.81228637695312 121.0302124023438 115.1178588867188 101.3423309326172 119.7448883056641 74.95455169677734 L 127.3649063110352 74.95455169677734 C 122.6623382568359 105.6670913696289 96.16561889648438 128.5517425537109 64.82652282714844 128.5517425537109 Z M 9.904359817504883 55.60010528564453 L 2.288035869598389 55.59785079956055 C 6.990602970123291 24.88533210754395 33.48743057250977 2.000009059906006 64.82652282714844 2.000009059906006 C 78.30417633056641 2.000009059906006 91.17922973632812 6.184500217437744 102.0597991943359 14.10108184814453 C 112.1922607421875 21.47338676452637 119.7824020385742 31.4625358581543 124.1147079467773 43.09229278564453 L 116.6415405273438 44.68132019042969 C 108.2091369628906 23.57818222045898 87.60504913330078 9.518045425415039 64.82652282714844 9.518045425415039 C 37.84041595458984 9.518045425415039 14.53252601623535 29.20804786682129 9.904359817504883 55.60010528564453 Z" />
                    <path class="cls-6" d="M 64.82652282714844 126.5517272949219 C 94.38600158691406 126.5517272949219 119.4967803955078 105.5282287597656 124.990364074707 76.95454406738281 L 121.3994369506836 76.95454406738281 C 115.9413375854492 103.4553146362305 92.21367645263672 123.0302200317383 64.82652282714844 123.0302200317383 C 41.79579162597656 123.0302200317383 20.91161727905273 109.1596145629883 11.801682472229 88.169921875 L 8.262779235839844 88.92210388183594 C 12.56357288360596 99.26068115234375 19.58654403686523 108.1560897827148 28.76446342468262 114.8339614868164 C 39.30026245117188 122.4997863769531 51.77032470703125 126.5517272949219 64.82652282714844 126.5517272949219 M 8.249979972839355 53.5996208190918 C 13.71120166778564 27.09725761413574 37.44078826904297 7.518063545227051 64.82652282714844 7.518063545227051 C 87.85636901855469 7.518063545227051 108.7400512695312 21.3912296295166 117.8490600585938 42.37986373901367 L 121.3878021240234 41.62741470336914 C 117.0852279663086 31.29030418395996 110.0614624023438 22.39642333984375 100.8831253051758 15.71832370758057 C 90.34672546386719 8.0521240234375 77.8785400390625 4.000003814697266 64.82652282714844 4.000003814697266 C 35.26702499389648 4.000003814697266 10.15598011016846 25.02487373352051 4.662411212921143 53.59855270385742 L 8.249979972839355 53.5996208190918 M 64.82652282714844 130.5517272949219 C 50.91906356811523 130.5517272949219 37.63522338867188 126.2350616455078 26.41108322143555 118.0684051513672 C 15.33070278167725 110.0063018798828 7.198462963104248 98.90824127197266 2.893462896347046 85.97398376464844 L 14.26720237731934 83.55652618408203 C 21.98670196533203 104.7754211425781 42.30316162109375 119.0302200317383 64.82652282714844 119.0302200317383 C 91.40572357177734 119.0302200317383 114.2817993164062 99.22198486328125 118.0382461547852 72.95454406738281 L 129.6530456542969 72.95454406738281 C 125.8031997680664 105.7921600341797 97.93224334716797 130.5517272949219 64.82652282714844 130.5517272949219 Z M 11.61134243011475 57.60062408447266 L 11.60788249969482 57.60062408447266 L 2.827148364303866e-06 57.59716415405273 C 3.849822759628296 24.75956344604492 31.72080230712891 3.647460971478722e-06 64.82652282714844 3.647460971478722e-06 C 78.72980499267578 3.647460971478722e-06 92.01176452636719 4.316863536834717 103.2364807128906 12.48386383056641 C 114.3170852661133 20.54604339599609 122.4506607055664 31.6429443359375 126.7579650878906 44.57498550415039 L 115.3833465576172 46.99358367919922 C 107.6658020019531 25.77360343933105 87.35032653808594 11.51806354522705 64.82652282714844 11.51806354522705 C 38.24858093261719 11.51806354522705 15.37100315093994 31.32778358459473 11.61134243011475 57.59716415405273 L 11.61134243011475 57.60062408447266 Z" />
                  </g>
                </g>
                <g class="cls-10" transform="matrix(1, 0, 0, 1, -17.6, -5)">
                  <path id="Path_31-2" data-name="Path 31" class="cls-2" d="M0,0,7.5,20.5" transform="translate(154.1 72.5)" />
                </g>
                <g class="cls-9" transform="matrix(1, 0, 0, 1, -17.6, -5)">
                  <path id="Path_30-2" data-name="Path 30" class="cls-3" d="M11.519,23.038-3.232,1.679" transform="translate(27.6 39.48) rotate(23)" />
                </g>
                <g class="cls-8" transform="matrix(1, 0, 0, 1, -17.6, -5)">
                  <path id="Path_29-2" data-name="Path 29" class="cls-3" d="M1.928,22.128,14.638-.626" transform="translate(37.2 43.98) rotate(23)" />
                </g>
                <g class="cls-7" transform="matrix(1, 0, 0, 1, -17.6, -5)">
                  <path id="Path_44-2" data-name="Path 44" class="cls-2" d="M18,0,0,14" transform="translate(136.1 72.5)" />
                </g>
              </g>
              <ellipse
                id="Ellipse_8"
                data-name="Ellipse 8"
                class="cls-4"
                cx="5.905"
                cy="5.408"
                rx="5.905"
                ry="5.408"
                transform="translate(255.357 2744.131)"
              />
              <ellipse
                id="Ellipse_9"
                data-name="Ellipse 9"
                class="cls-4"
                cx="5.905"
                cy="5.408"
                rx="5.905"
                ry="5.408"
                transform="translate(142.872 2783.068)"
              />
              <circle
                id="Ellipse_14"
                data-name="Ellipse 14"
                class="cls-4"
                cx="2"
                cy="2"
                r="2"
                transform="translate(262.671 2774)"
              />
            </g>
          </g>
        </svg>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'settingLayout',
  data() {
    return {
      updates: null,
      updateHash: null,
      installing: false,
    }
  },
  mounted() {
    this.check()
  },
  methods: {
    getHash(updates) {
      return updates.map(u => u.newRevision).join('')
    },
    async check() {
      const res = await this.$axios.get('/api/update/check')
      this.updates = res.data
      this.updateHash = this.getHash(res.data)
    },
    async initiate() {
      await this.$axios.post('/api/update/initiate')
      this.installing = true
      const interval = setInterval(() => {
        this.$axios.get('/api/update/check').then((res) => {
          const newHash = this.getHash(res.data)
          if (newHash !== this.updateHash) {
            this.updates = res.data
            this.updateHash = newHash
            clearInterval(interval)
            this.installing = false
            location.reload()
          }
        })
      }, 5000)
    }
  }
}
</script>

<style lang="scss" scoped>
.update-section {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vh;
  text-shadow: 0 4px 7px #333;

  @keyframes spin {
    100% {
      transform:rotate(-360deg);
    }
  }

  .spinning {
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .checking{
    font-size: 2.8vh;
    margin-top: 1.6em;
  }
  .wait{
    font-size: 2.5vh;
    margin-top:0.6em;
  }
  .bigUpdate{
    margin-top: 5vh;
    height:35vh;
    width: auto;
    .cls-1, .cls-3, .cls-4 {
      fill: #fff;
    }

    .cls-2 {
      fill: none;
    }

    .cls-2, .cls-3 {
      stroke: #fff;
      stroke-linecap: round;
      stroke-width: 10px;
    }

    .cls-5, .cls-6 {
      stroke: none;
    }

    .cls-6 {
      fill: #fff;
    }

    .cls-7 {
      filter: url(#Path_44);
    }

    .cls-8 {
      filter: url(#Path_29);
    }

    .cls-9 {
      filter: url(#Path_30);
    }

    .cls-10 {
      filter: url(#Path_31);
    }

    .cls-11 {
      filter: url(#Subtraction_4);
    }
  }
}
</style>
